{% extends 'base.html.twig' %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Quantité</td>
            <td>Montant</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<p>Nombre total de produits :</p>
<p>Montant total du panier : </p>

{% endblock %}
